* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  margin: 0;
}

@font-face {
  font-family: "butler";
  src: url(./fonts/Butler_Light.otf);
}

@font-face {
  font-family: "anaheim";
  src: url(./fonts/Anaheim-Regular.ttf);
}

@font-face {
  font-family: "helvetica";
  src: url(./fonts/Helvetica.otf);
}

.underline {
  border-bottom: 2px solid #fade01;
}

/* ----------------------------------------------------------------- HOME MOBILE*/

/* NAV */

h1 {
  font-size: 1em;
  font-family: "anaheim";
}

.nav {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #b7b7b7;
  font-size: 1.5em;
  font-family: "anaheim";
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  margin-top: -5vh;
}

.navbar-light .navbar-toggler {
  border: none;
  color: #b7b7b7;
}

.nav_name {
  font-size: 1em;
  align-self: center;
}

.nav-link {
  padding: 0;
}

.menu {
  height: 1em;
  width: 1em;
}

.navbar {
  text-align: center;
}

a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.effect-underline {
   color: #fff;
  text-decoration: none;
  position: relative;
}

/* TEXT */

h3 span {
  color: #fade01;
}
.first_strip {
  background-color: #141414;
  text-align: center;
  display: flex;
  width: 100%;
  height: 95vh;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
}

.first_strip svg {
  width: 90%;
  height: auto;
}

.first_strip h3 {
  font-size: 1em;
  width: 100%;
}

.titre_header {
  width: 100%;
}

.svg_title {
  /* fill: #c4c4c400; */
  margin-top: -3rem;
  stroke-dasharray: 425;
  stroke-dashoffset: 425;
  animation: anim 6s ease forwards;
}

@keyframes anim {
  75% {
    stroke-dashoffset: 0;
    fill: #c4c4c400;
  }
  100% {
    fill: #c4c4c4ff;
    stroke-dashoffset: 0;
  }
}

.subtitle {
  font-family: "anaheim";
  font-size: 1rem;
  color: #c4c4c4;
}

/* SVG */

.barre {
  width: 80vw;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

/* ----------------------------------------------------------------- BODY MOBILE*/

main {
  width: 100%;
}

h2 {
  font-family: "butler";
  font-size: 30px;
  text-align: center;
  padding-top: 1rem;
}

/* --------------------------------- PROFIL*/

.second_strip {
  display: flex;
  padding: 3rem 3rem;
  width: 100%;
  justify-content: space-around;
  font-family: "helvetica";
  font-size: 1.5rem;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.second_strip img {
  object-fit: contain;
  background-color: #f2f2f2;
}

.second_strip h2 {
  padding-bottom: 2rem;
}

/*---------- texte*/

.description {
  font-size: 0.8em;
  width: 80%;
  text-align: justify;
}

/*---------- bouton*/

.btn a {
  text-decoration: none;
  color: black;
}

.btn {
  height: 5vh;
  margin-bottom: 2rem;
  border-width: 0;
   border-radius: 10px;
  background: linear-gradient(145deg, #ffffff, #dadada);
  box-shadow:  5px 5px 10px #bdbdbd,
              -5px -5px 10px #ffffff;
}

.btn:hover {
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: inset 5px 5px 10px #bdbdbd,
            inset -5px -5px 10px #ffffff;
}

/*--------------------------------- COMPÉTENCES*/
.third_strip {
  height: 160vh;
  padding: 3rem 3rem;
  background-color: #3e3d3d;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 23% 23% 23% 23%;
  justify-items: center;
  align-items: center;
}

.third_strip h2 {
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: flex-start;
}

.third_strip p {
  color: white;
  font-family: "helvetica";
  font-size: 1.5em;
  padding-top: 0.5rem;
  text-align: center;
}

.comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.percent {
  font-size: 25px;
  z-index: 2;
  margin-top: -5rem;
  margin-bottom: 2rem;
}

/*---------- CERCLES*/

.shadow {
  fill: none;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background: linear-gradient(225deg, #383737, #424141);
  box-shadow: -11px 11px 18px #232323, 11px -11px 18px #595757;
}

.third_strip svg {
  width: 32vw;
  fill: none;
  stroke: #fade01;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
}

.shadow circle {
  transform: translate(5px, 5px);
}

/*cercle html*/

.html.anim {
  animation: circlehtml 5s forwards;
}

@keyframes circlehtml {
  to {
    stroke-dashoffset: 79;
  }
}

/*cercle css*/
.css.anim {
  animation: circlecss 5s forwards;
}

@keyframes circlecss {
  to {
    stroke-dashoffset: 110;
  }
}

/*cercle js illustrator photoshop*/
.js_ai_psd_sql_php.anim {
  animation: circlejs_ai_psd 5s forwards;
}

@keyframes circlejs_ai_psd {
  to {
    stroke-dashoffset: 236;
  }
}

/*cercle git*/
.git.anim {
  animation: circlegit 5s forwards;
}

@keyframes circlegit {
  to {
    stroke-dashoffset: 189;
  }
}

/*--------------------------------- PROJETS*/

.fourth_strip {
  width: 100%;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.fourth_strip h2 {
  margin-bottom: 4rem;
}

.text_card {
  text-align: center;
  background-color:#f2f2f2;
  border-radius: 10px;
}

.card button {
  margin: 0;
}

#btn_card1:hover, #btn_card2:hover {
border-radius: 10px;
background: #f2f2f2;
box-shadow: inset 5px 5px 10px #bdbdbd,
            inset -5px -5px 10px #ffffff;
}

#btn_card1,
#btn_card2 {
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 10px;
  background: linear-gradient(145deg, #ffffff, #dadada);
  box-shadow:  5px 5px 10px #bdbdbd,
               -5px -5px 10px #ffffff;
}

.card {
  border: none;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #ffffff, #dadada);
  box-shadow:  5px 5px 10px #bdbdbd,
             -5px -5px 10px #ffffff;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20vh;
}

/*---------------------MODALS*/
.modal_aff {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
}

.modal_aff img {
  width: 70%;
}

.modal_img {
  background-color: #b7b7b7;
}

.modal_img img{
  height: auto;
  width: 50%;
}

.modal_aff h3 {
  padding-bottom: 1rem;
  font-family: "helvetica";
}

.modal_aff button a {
  color: black;
  text-decoration: none;
}

h5 {
  font-family: "butler";
  font-size: 1.9rem;
}
 
/* ------- PARTIE GAUCHE  */
.part_left {
  padding: 1rem;
}

.part_left li {
  text-align: start;
  font-family: "helvetica";
}

/* ------- PARTIE DROITE  */
.part_right {
  border-left: 1px solid #232323;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center ;
}


.part_right li {
  text-align: start;
  font-family: "helvetica";
}

.part_right p {
  font-family: "helvetica";
}

.shadow_body {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal_pop {
  width: auto;
  height: auto;
}

.btn_visit {
  margin: 1rem;
  border-radius: 50px;
  border-width: 0;
  width: 20%;
}

/*--------------------------------- CONTACT*/

.fifth_strip {
  background: linear-gradient(to top, #3e3d3d 50%, #f2f2f2 50%);
  width: 100%;
  padding: 0rem 3rem 3rem 3rem;
}

.fifth_strip h2 {
  margin-bottom: 4rem;
}

form input {
  border-style: none;
  padding: .5rem;
  border-radius: 10px;
  height: 5vh;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #b7b7b7;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding : 2rem 2rem 0 2rem;
  box-shadow: 0 8px 20px 0 #424141;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form_error{
  color: red;
  align-self: flex-start;
}

form textarea {
  border-style: none;
  padding: .5rem;
  border-radius: 10px;
  height: 20%;
  margin-bottom: 2rem;
  width: 100%;
  border: 1px solid #b7b7b7;
}

.form_legend {
  color: #b7b7b7;
  font-size: small;
  align-self: flex-end;
}

.form_validation {
  display: flex;
  justify-content: center;
}

.svg_yes {
  height: auto;
  width: 20%;
}

/* BOUTON ENVOYER */
#btn {
  color: #000000;
  background: #ffffff;
  height: 5vh;
  width: 50%;
  margin-bottom: 2rem;
  border-width: 0;
  border-radius: 10px;
  background: linear-gradient(145deg, #ffffff, #dadada);
  box-shadow:  5px 5px 10px #bdbdbd,
               -5px -5px 10px #ffffff;
}

#btn:hover {
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: inset 5px 5px 10px #bdbdbd,
            inset -5px -5px 10px #ffffff;
}

.arrow {
  padding-left: 1rem;
}

/* MAIL SEND */
.stroke_yes {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: env_stroke_yes 3s forwards;
}

@keyframes env_stroke_yes {
  to {
    stroke-dashoffset: 0;
  }
}

/* MAIL ERROR */
.stroke_no {
  stroke-dasharray: 225;
  stroke-dashoffset: 225;
  animation: env_stroke_no 3s forwards;
}

@keyframes env_stroke_no {
  to {
    stroke-dashoffset: 0;
  }
}

/* ----------------------------------------------------------------- FOOTER MOBILE*/

footer p {
  color: rgba(0,0,0,.9);
  font-family: "helvetica";
  margin-bottom: 0;
  margin-right: 1rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #b7b7b7;
  margin: 0;
  height: 5vh;
  box-shadow: 4px 2px 4px 3px rgb(0 0 0 / 25%);
}

footer a {
  text-decoration: none;
  color: rgba(0,0,0,.9);
}

/* ----------------------------------------------------------------------------------------- RESPONSIVE DESKTOP*/

@media (min-width: 1024px) {
  /*HEADER*/

  .first_strip h3 {
    font-size: 2em;
    width: 100%;
  }

  /*PROFIL*/
  .second_strip {
    padding: 3rem 3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 20% 30% 30%;
  }

  .second_strip h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 2rem;
  }

  .second_strip img {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
  }

  .description {
    grid-column: 1;
    grid-row: 3;
    font-size: 1em;
  }

  .btn {
    width: 15vw;
    grid-row: 4;
    font-size: 0.8em;
  }

  /*COMPETENCES*/

  .third_strip {
    height: 70vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 40% 40%;
  }

  .third_strip h2 {
    color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-bottom: 3rem;
  }

  .third_strip svg {
    width: 100%;
  }

  /*PROJETS*/
  #list_prj {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /*MODALS*/
  .btn_modal {
    width: 10vw;
  }

  .part_left ul {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  /*FORMULAIRE*/

  .fifth_strip {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fifth_strip form {
    width: 45%;
  }

  .fifth_strip h2 {
    margin-bottom: 2rem;
  }

  #btn {
  width: 30%;
}

/* .svg_yes {
  height: auto;
  width: 20%;
} */


}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 2rem;
    margin-left: 0.5rem;
  }
}

/* disparition bg first strip */

@media (max-width: 1024px) {

  .first_strip {
    background-image:none;

  }

}

@media (max-width: 450px) {

  .arrow {
    display: none;
  }

  .svg_yes {
  height: auto;
  width: 50%;
}

  .third_strip svg {
    width: 100%;
  }

  .second_strip img {
    width: 80vw;
  }

}
